---
- name: Remove admin authorized key
  authorized_key:
    user: "{{ k3s_admin_user }}"
    key: "{{ k3s_admin_pubkey }}"
    state: absent
  ignore_errors: true

- name: Remove root authorized key
  authorized_key:
    user: root
    key: "{{ root_pubkey }}"
    state: absent
  ignore_errors: true

- name: Remove admin sudoers
  file:
    path: "/etc/sudoers.d/90-{{ k3s_admin_user }}"
    state: absent

- name: Remove admin user
  user:
    name: "{{ k3s_admin_user }}"
    state: absent
    remove: true

- name: Remove sshd hardening drop-in
  file:
    path: /etc/ssh/sshd_config.d/99-liberte.conf
    state: absent

- name: Validate sshd config
  command: sshd -t
  changed_when: false

- name: Reload ssh service
  service:
    name: ssh
    state: reloaded

- name: Remove phase01 state file
  file:
    path: /var/lib/infra/phase01.json
    state: absent
